
:root
{
    --LogoColor: #70c5bd;
    --MenuColor: #202c2c;
    --ButtonColor: #4d7e79;
    --ButtonColorClick: #73c3bb;
    /* --MainColor: #cadada; */
    /* --BoxColor: #4d7e79; */
    --FontColor:#e6ecec; 
}

/* Navigation */
header {
    background-color: var(--MenuColor,#333);
    color: #fff;
    padding: 16px;
}

header .logo
{
    background-image: url(../img/logo0.png);
    /* background-color: #ff6600; */
    background-size: cover;
    width: 94px;
    height: 30px;
    
    grid-area: logo;
}

nav{
    display: grid;
    grid-template-columns: repeat(20, 1fr);
    grid-template-rows: 100%;
    grid-template-areas: "logo logo logo logo logo logo logo list list list list list list list list list";
}

 .nav-links {

    grid-area: list;
    display: flex;
    gap: 1.5em;
    list-style: none;
    text-align: left;
    justify-content: start;
}
    
.nav-links li {
    list-style: none;
}

.nav-links a {
    color: var(--FontColor,#fff);
    text-decoration: none;
    padding: 0.5em;
    transition: color 0.3s ease;
}

.nav-links a:hover {
    color: var(--LogoColor,#ff6600);
}

.hero {
    background-color: var(--LogoColor,#fff);
    color: #fff;
    padding: 4em 1em;
    text-align: center;
}

.hero h1 {
    font-size: 2.5rem;
    margin-bottom: 0.5em;
    animation: fadeIn 1.5s ease forwards;
}

.hero p {
    font-size: 1.2rem;
    animation: fadeIn 2s ease forwards;
}

/* Keyframe Animation */
@keyframes fadeIn {
    from { opacity: 0; transform: translateY(20px); }
    to { opacity: 1; transform: translateY(0); }
}


/* Footer */
footer {
    background-color:var(--MenuColor,#333);
    color: var(--FontColor,#fff);
    text-align: center;
    padding: 1em;
}

footer p
{
    padding-top: 5px;
}
